{% extends 'base.html' %}
{% load static %}

{% block title_block %}
    Accurate Mode
{% endblock %}

{% block body_block %}
     <div class="col-md-12 column">
         <H3 class="text-success" style="text-align:center">Accurate Mode</H3>
            <h4>Upload Your File</h4>
			<form class="form-inline" role="form" method="post" enctype="multipart/form-data" action="/accurateUpload/">
				<div class="form-group">
                      {% csrf_token %}
                    <label for="inputFile">File</label><input type="file" id="inputFile" name="file" style="display:none" onchange="changeAgentContent()" />
                    <input type="text" value="" disabled id="inputFileAgent" />
                    <input type="button"  class="btn btn-sm"  onclick="document.getElementById('inputFile').click()" value="Browse..." />
				</div>
				<div class="form-group">
					 <label for="axisinput">Axis</label><input type="text" id="axisinput" name="axis" list="typelist" value="" placeholder="Select axis">
                 <datalist id="typelist">
    　　             <option>x</option>
    　　             <option>y</option>
                     <option>z</option>
                </datalist>
				</div>
                <div class="form-group">
                    <label for="valueinput">Value</label>
                    <input type="number" id="valueinput" name="values" value=""  step="0.001">
                 </div>
                <button type="submit"  class="btn btn-sm"  id="btn">Upload</button>
                    <p class="help-block">
						Please upload the correct file (.csv) and enter a valid value.
					</p>
            </form>



    </div>


    <div class="col-md-12 column">

        <h4>Current File</h4>
        <h5> Filename:<input id="fn" class="btn btn-sm" value="{{info.filename}}" disabled>
             Axis:<input id="ax" class="btn btn-sm" value="{{info.axis}}" disabled>
             Value:<input id="vl" class="btn btn-sm" value="{{info.value}}" disabled>
        </h5>
        <h4>Information</h4>
        {% if show == 'yes' %}
        <h5>X range: {{info.xmax}} - {{info.xmin}} </h5>
        <h5>Y range: {{info.ymax}} - {{info.ymin}} </h5>
        <h5>Z range: {{info.zmax}} - {{info.zmin}} </h5>
        {% else %}
        <h5 class="text-danger">{{errorinfo}}</h5>
        {% endif %}
    </div>


    <div class="col-md-12 column">
    <h4>Function</h4>
    </div>
    <div class="col-md-12 column">
        <h5>
         Color:<input type="text" list="colormap" id="co" value="" placeholder="magma" style="width:120px;">
           <datalist id="colormap">
　　            <option>magma</option>
　　            <option>inferno</option>
               <option>plasma</option>
               <option>viridis</option>
            </datalist>
         AmplitudeMax:<input type="number" id="amax" value="" step="1" placeholder="2500" style="width:120px;">
         AmplitudeMin:<input type="number" id="amin" value="" step="1" placeholder="0" style="width:120px;">
         Level:<input type="number" id="le" value="" step="1" placeholder="30" style="width:120px;">
        </h5>
        </div>
      <div class="col-md-12 column">
          <h5>
         Xmax:<input type="number"  id="xmax" value="" step="0.001" placeholder="None" style="width:120px;">
         Xmin:<input type="number" id="xmin" value="" sstep="0.001" placeholder="None" style="width:120px;">
         Ymax:<input type="number" id="ymax" value="" step="0.001" placeholder="None" style="width:120px;">
         Ymin:<input type="number" id="ymin" value="" step="0.001" placeholder="None" style="width:120px;">
          </h5>
    <button id="update"  class="btn btn-sm" >Update</button>
    <button id="clean"  class="btn btn-sm" >Clean</button>
    <button id="save"  class="btn btn-sm" >Save</button>
    <h4>Show</h4>
    </div>

    <div id="fig1" class="col-md-12 column">

    </div>

    <!--Script-->
    <script type="text/javascript" src="{% static 'js/myjs.js' %}"></script>
    <script type="text/javascript">
        mpld3.draw_figure("fig1", {{graph1 | safe}});

        //save as pdf
        $("#save").click(function(){
            $.ajax({
                url:"/save/",
                type:"GET",
                data:{"filename":$("#fn").val(),"value":$("#vl").val(),"axis":$("#ax").val(),
                    "color":$("#co").val(),"amax":$("#amax").val(),"amin":$("#amin").val(),"level":$("#le").val(),
                    "xmax":$("#xmax").val(),"xmin":$("#xmin").val(),"ymax":$("#ymax").val(),"ymin":$("#ymin").val()},
                success:function (data) {
                    alert(data.text);
                    }
                });
        });

        //Custom Update
        $("#update").click(function(){
            $.ajax({
                url:"/update/",
                type:"GET",
                data:{"filename":$("#fn").val(),"value":$("#vl").val(),"axis":$("#ax").val(),
                    "color":$("#co").val(),"amax":$("#amax").val(),"amin":$("#amin").val(),"level":$("#le").val(),
                    "xmax":$("#xmax").val(),"xmin":$("#xmin").val(),"ymax":$("#ymax").val(),"ymin":$("#ymin").val()},
                success:function (data) {
                    if(data.error == "yes"){
                        alert(data.text);
                    }else{
                    $('#fig1').empty();
                    mpld3.draw_figure("fig1", data);
                    alert("Update successfully.");
                        }
                    }
                });
        });


        //clean the show
        $("#clean").click(function(){
            $('#fig1').empty();
        });

    </script>
{% endblock %}
