{% extends 'base.html' %}
{% load static %}

{% block title_block %}
    Index
{% endblock %}

{% block body_block %}
    			<div class="jumbotron">
				<h2>
					Welcome！
				</h2>
				<p>
					 Visualisation tool for 3D data sets.
				</p>
				<p>
					 <a class="btn btn-primary btn-large" href="{% url 'about' %}">About</a>
				</p>
			</div>
       <div class="row clearfix">
		<div class="col-md-6 column">
			<h2 class="text-primary">
				Easy Mode
			</h2>
			<p>
				This mode divides a certain axis of the file into ten ranges.
				User can simply select files and axes for visualisation. By selecting each range, user can browse the file structure roughly.
			</p>
			<p>
				 <a class="btn" href="{% url 'easyMode' %}">View details »</a>
			</p>
		</div>
		<div class="col-md-6 column">
			<h2 class="text-success">
				Accurate Mode
			</h2>
			<p>
				This mode provides a visualisation function for precise operation of a file.
				Users can input parameters accurately for visualisation.
				For example, change the color, change the axis, change the level and so on.
			</p>
			<p>
				 <a class="btn" href="{% url 'accurateMode' %}" >View details »</a>
			</p>
		</div>
		<div class="col-md-6 column">
			<h2 class="text-muted">
				Compare Mode
			</h2>
			<p>
				Two side by side images can be displayed on the same page to give users a different feeling.
				Therefore, user also need to upload two files, or the same file with different values.
			</p>
			<p>
				 <a class="btn" href="{% url 'compareMode' %}">View details »</a>
			</p>
		</div>
           		<div class="col-md-6 column">
			<h2 class="text-warning">
				Calculate Mode
			</h2>
			<p>
				Upload the file with the value of each axis ,
				and the calculation results can be accurate to all digits after the decimal point.

			</p>
			<p>
				 <a class="btn" href="{% url 'calculateMode' %}" >View details »</a>
			</p>
		</div>
	</div>
{% endblock %}
