{% extends 'base.html' %}
{% load static %}

{% block title_block %}
    Index
{% endblock %}

{% block body_block %}
            <a href="{% url 'easyMode' %}"class="btn btn-info" role="button">Easy Mode</a>
            <a href="{% url 'accurateMode' %}" class="btn btn-info" role="button">Accurate Mode</a>
            <a href="{% url 'compareMode' %}" class="btn btn-info" role="button">Compare Mode</a>
            <a href="{% url 'calculateMode' %}" class="btn btn-info" role="button">Calculate Mode</a>
{% endblock %}
